<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Palcode | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
</head>

<body>

    <head>
        <meta charset="UTF-8" />
        <title>Palcode | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
        <link href="https://fonts.googleapis.com/css2?family=Segoe+UI&display=swap" rel="stylesheet" />
    </head>

    <main>{% block content %}{% endblock %}</main>

    <footer>
        <p>&copy; 2025 Palcode. All rights reserved.</p>
    </footer>
</body>

</html>